:root{
  --primary-color:#cfae81;
  --text-color:#ffffff;
  --background-color:#b3b3b3;
  --text-skincolor-bg: #caa571;
  --tm-secondary-bg: #000000;
  --tm-greycolor-bg: #f9f9f9;
  --tm-skincolor-text: #caa571;
  --body-fonts-color: #b3b3b3;
  --body-blackfont-color: #ffffff;
  --different-color:#74470c;
  --footer-text-color: #ffffffb3;
  --footer-bg:#202020;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: "Lato", Arial, Helvetica, sans-serif;
}

*::selection{
  background-color: var(--tm-skincolor-text);
}
