
.register {
    padding: 0;
    margin: 0;
    background-color: var(--tm-secondary-bg);
   max-width: 1920px;
  }
  .register img{
     max-width: 44px;
     max-height: 44px;
     width: 32px;
  }
  .homeBtn{
      text-decoration: none;
      align-self: flex-end;
  }
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
  }
  .registerForm {
     width: 90vw;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1.5rem;
    border-radius: 30px;
    border: 5px solid var(--primary-color);
    padding: 2rem;
  }
  .registerForm h3{
      color: var(--primary-color);

  font-size: 25px;
  font-weight: 700;
  line-height: 28.73px;
  
  }
  .registerForm input ,textarea{
    width: 100%;
    max-height: 80px;
    padding: 1rem;
    padding-left: 1.5rem;
    background-color: transparent;
    border-radius: 50px;
    border: 3px solid var(--primary-color);
    
  }
  .registerForm input::placeholder,.registerForm::placeholder{
      color: var(--primary-color);
  font-size: 20px;
  font-weight: 300;
  line-height: 22.98px;
  }
  .registerForm input[type="text"],input[type="password"],input[type="email"]{
      color: var(--primary-color);
      font-size: 20px;
      font-weight: 300;
      line-height: 22.98px;
  }
  input:focus{
      outline: none;
  }
  .frgtPass{
  font-size: 20px;
  font-weight: 300;
  line-height: 22.98px;
  align-self: flex-end;
  text-decoration: underline;
  color: var(--primary-color);
  
  }
  .registerBtn{
    margin-top: 1rem;
   width: 100%;
  background-color: var(--primary-color);
  height: 50px;
  font-size: 25px;
  font-weight: 700;
  padding-left: .25rem;
  color: var(--tm-secondary-bg);
  border-radius: 50px;
  text-decoration: none;
border: none;
  }
  .account{
      color: var(--primary-color);
  font-size: 16px;
  font-weight: 300;
  line-height: 22.98px;
  align-self: flex-end;
  
  }
  .account .span{
  font-weight: 700;
  text-decoration: none;
  color: var(--primary-color);
  }
  @media (min-width:900px){
      .registerForm{
          width: 40vw;
      }
      .socialIcons{
          gap: 2rem;
      }
      .account{
        font-size: 20px;
      }
  }
  
  