@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");
.register {
    padding: 1rem;
    margin: 0;
    background-color: var(--tm-secondary-bg);
   max-width: 1920px;
   height: max-content;
   
  }
  .register img{
     max-width: 44px;
     max-height: 44px;
     width: 32px;
  }
  .homeBtn{
      text-decoration: none;
      align-self: flex-end;
  }
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
  }
  .registerForm {
     width: 90vw;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1.5rem;
    border-radius: 30px;
    border: 5px solid var(--primary-color);
    padding:5rem 2rem;
  }
  .registerForm h3{
      color: var(--primary-color);

  font-size: 25px;
  font-weight: 700;
  line-height: 28.73px;
  
  }
  .registerForm input ,textarea{
    width: 100%;
    max-height: 80px;
    padding: 1rem;
    padding-left: 1.5rem;
    background-color: transparent;
    margin-bottom: 0.5rem;
    border-radius: 50px;
    border: 3px solid var(--primary-color);
    
  }
  .select{
    width: 50%;
    background-color: transparent;
    border: 1px solid black;
    color: black;
  }
  .registerForm input::placeholder,.registerForm::placeholder{
      color: var(--primary-color);
  font-size: 20px;
  font-weight: 300;
  line-height: 22.98px;
  }
  .registerForm input[type="text"],input[type="password"],input[type="email"]{
      color: var(--primary-color);
      font-size: 20px;
      font-weight: 300;
      line-height: 22.98px;
  }
  .registerForm input:focus{
      outline: none;
      background-color: transparent;
  }
  .frgtPass{
  font-size: 20px;
  font-weight: 300;
  line-height: 22.98px;
  align-self: flex-end;
  text-decoration: underline;
  color: var(--primary-color);
  
  }
  .registerBtn{
    margin-top: 1rem;
   width: 60%;
  background-color: var(--primary-color);
  height: 50px;
  font-size: 25px;
  font-weight: 700;
  padding-left: .25rem;
  color: var(--tm-secondary-bg);
  border-radius: 50px;
  text-decoration: none;
border: none;
  }

  .disabled{
   background-color: rgb(121, 124, 96);
  }
  .account{
      color: var(--primary-color);
  font-size: 16px;
  font-weight: 300;
  line-height: 22.98px;
  align-self: flex-end;
  
  }
  .account .span{
  font-weight: 700;
  text-decoration: none;
  color: var(--primary-color);
  }
  input::placeholder:focus-within,input:focus-within{
    background-color: transparent;
    outline: none;
  }
  @media (min-width:900px){
      .registerForm{
          width: 40vw;
      }
      .socialIcons{
          gap: 2rem;
      }
      .account{
        font-size: 20px;
      }
  }
  /* Loading styling */
  


.loadingPage {
  position: absolute;
  top: 0;
  left: 0;
  background:var(--tm-secondary-bg);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  color: #191654;
}

.svg {
  height: 150px;
  width: 150px;
  stroke:var(--primary-color);
  fill-opacity: 0;
  stroke-width: 3px;
  stroke-dasharray: 4500;
  animation: draw 8s ease;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 4500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.nameContainer {
  height: 30px;
  overflow: hidden;
}

.logoName {
  color:var(--primary-color);
  font-size: 20px;
  letter-spacing: 12px;
  text-transform: uppercase;
  margin-left: 20px;
  font-weight: bolder;
}

 